/* General styling for the entire application */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the body takes full viewport height */
}

header {
    background-color: #282c34;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

header input[type="text"] {
    padding: 8px;
    width: 60%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

header button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #61dafb;
    color: white;
    cursor: pointer;
}

header button:hover {
    background-color: #21a1f1;
}

header a {
    color: #61dafb;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    padding: 80px 20px 20px; /* Offset by header height */
    flex: 1; /* Allow main to take up remaining space */
    display: flex;
    flex-direction: column;
}

iframe {
    flex: 1; /* Ensure iframe takes up available space */
    width: 100%;
    border: none;
}

#error-message {
    color: red;
    margin-top: 10px;
}

.hidden {
    display: none;
}

/* Styles for the favorites page */
#favorites-list {
    list-style: none;
    padding: 0;
}

#favorites-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#favorites-list li a {
    color: #61dafb;
    text-decoration: none;
    font-size: 16px;
}

#favorites-list li a:hover {
    text-decoration: underline;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}
