body {
    background-color: lightgreen;
    color: black;
}

header {
    background-color: green;
}

header button, header a {
    background-color: darkgreen;
}

header button:hover, header a:hover {
    background-color: lightgreen;
    color: darkgreen;
}

.settings-container button {
    background-color: darkgreen;
}

.settings-container button:hover {
    background-color: lightgreen;
    color: darkgreen;
}
